<nav>

    <ul>
      <li><a href="{{site.baseurl}}/index.html">Home</a></li>

      <li><a href="{{site.baseurl}}/news.html">Festival</a></li>
      <li><a href="{{site.baseurl}}/news.html">N5M</a></li>
      <li><a href="{{site.baseurl}}/news.html">o que é mídia tática</a></li>
      <li><a href="{{site.baseurl}}/news.html">Poster</a></li>
      <li><a href="{{site.baseurl}}/news.html">Programação</a></li>
      <li><a href="{{site.baseurl}}/news.html">Viabilizadores</a></li>
      <li><a href="{{site.baseurl}}/news.html">We do speak english</a></li>



    </ul>

  </nav>
